.notificationContainer {
  position: fixed;
  top: 30px;
  left: 30px;
  border: solid 1px #212121;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 50px;
  padding-left: 50px;
  animation-name: startAnimation;
  animation-duration: 1.3s;
  animation-fill-mode: forwards;
  background-color: var(--border-color);
  z-index: 1000;
}

@keyframes startAnimation {
  0% {
    box-shadow: 0 0 0 var(--foreground-color);
    left: -200px;
  }
  50% {
    box-shadow: 0 0 15px var(--foreground-color);
    left: 30px;
  }
  100% {
    box-shadow: 0 0 2px var(--foreground-color);
  }
}

.notificationContainer h2 {
  color: var(--foreground-color);
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 400;
  margin: 0;
}
