.viewerContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  display: flex;
  justify-content: center;
  align-items: center;
}

.photoContent {
  width: 75%;
  height: 80%;
  display: flex;
}

.infoContainer {
  width: 50%;
  background-color: var(--dialog-background-color);
  display: flex;
}

.imageContainer img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.imageContainer {
  background-color: black;
}

.infoContainer {
  display: flex;
  flex-direction: column;
}

.userInfo {
  width: 100%;
  height: 45px;
  border-bottom: solid 1px var(--foreground-color);
  display: flex;
  align-items: center;
  gap: 10px;
}

.userInfo img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50px;
  margin-left: 10px;
}

.userInfo h2 {
  color: var(--foreground-color);
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 15px;
  margin: 0;
}

.userInfo h3 {
  color: var(--foreground-color);
  font-family: 'Inter';
  font-weight: 500;
  font-size: 12px;
  margin: 0;
}

.pictureReactions {
  min-height: 40px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  gap: 12px;
}

.commentSection {
  flex: 1;
  background-color: rgb(32, 32, 32);
}

.reactStat {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.reactStat img {
  width: 22px;
}

.reactStat p {
  margin: 0;
  font-family: 'Roboto';
  color: white;
  font-weight: 600;
}

.inputContainer {
  border-bottom: solid 1px var(--foreground-color);
  display: flex;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
  position: relative;
}

.inputContainer img {
  height: 21px;
  aspect-ratio: 1/1;
  cursor: pointer;
}

.inputContainer textarea {
  background: none;
  border: none;
  outline: none;
  color: var(--foreground-color);
  font-size: 15px;
  margin-top: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  resize: none;
  height: 21px;
  width: 98%;
}

.emojiMenu {
  position: absolute;
  bottom: 35px;
  right: 0;
}

.emojiMenuBackground {
  position: fixed;
  width: 100vw;
  height: 100vh;
}

@keyframes fadeIn {
  to {
    background-color: rgba(0, 0, 0, 0.484);
  }
}
