.viewerContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  display: flex;
  justify-content: center;
  align-items: center;
}

.photoContent {
  width: 75%;
  height: 80%;
  display: flex;
}

.infoContainer {
  width: 40%;
  background-color: var(--dialog-background-color);
  display: flex;
}

.imageContainer img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.imageContainer {
  background-color: black;
}

.infoContainer {
  display: flex;
  flex-direction: column;
}

.userInfo {
  width: 100%;
  height: 45px;
  border-bottom: solid 1px var(--foreground-color);
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}

.profilePicture {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50px;
  margin-left: 10px;
}

.userInfo h2 {
  color: var(--foreground-color);
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 15px;
  margin: 0;
}

.userInfo h3 {
  color: var(--foreground-color);
  font-family: 'Inter';
  font-weight: 500;
  font-size: 12px;
  margin: 0;
}

.pictureReactions {
  min-height: 40px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  gap: 12px;
}

.commentSection {
  flex: 1;
  background-color: rgb(32, 32, 32);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  overflow-y: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.reactStat {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.reactStat img {
  width: 22px;
}

.reactStat p {
  margin: 0;
  font-family: 'Roboto';
  color: white;
  font-weight: 600;
}

.inputContainer {
  border-bottom: solid 1px var(--foreground-color);
  display: flex;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
  position: relative;
  gap: 8px;
}

.sendButton {
  height: 85%;
  width: 50px;
  border-radius: 20px;
  background-color: var(--foreground-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
}

.sendButton img {
  width: 20px;
  aspect-ratio: 1/1;
}

.inputContainer img {
  height: 21px;
  aspect-ratio: 1/1;
  cursor: pointer;
}

.inputContainer textarea {
  background: none;
  border: none;
  outline: none;
  color: var(--foreground-color);
  font-size: 15px;
  margin-top: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  resize: none;
  height: 21px;
  width: 97%;
}

.emojiMenu {
  position: absolute;
  bottom: 35px;
  right: 0;
}

.emojiMenuBackground {
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.close {
  position: absolute;
  top: 10px;
  right: 30px;
  padding: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.15s;
}

.close:hover {
  background-color: rgba(255, 255, 255, 0.53);
}

.close img {
  width: 20px;
  height: 20px;
}

.noCommentContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: center;
  gap: 5px;
}

.noCommentContainer h1 {
  color: var(--foreground-color);
  font-family: 'Roboto';
  margin: 0;
  font-size: 30px;
}

.noCommentContainer h2 {
  color: var(--foreground-color);
  font-family: 'Roboto';
  margin: 0;
  font-size: 20px;
}

.bestFriendsOnlyBadge {
  width: 20px;
  position: absolute;
  right: 10px;
}

@keyframes fadeIn {
  to {
    background-color: rgba(0, 0, 0, 0.484);
  }
}

.deactivateButton {
  height: 28px;
  background: none;
  border: solid 1px #c14343;
  border-radius: 4px;
  font-family: 'Ubuntu';
  font-size: 15px;
  font-weight: 400;
  transition: all 0.15s;
  cursor: pointer;
  color: #c14343;
}

.deactivateButton:hover {
  background-color: #c14343;
  color: black;
}

.activateButton {
  height: 28px;
  background: none;
  border: solid 1px #5b5fc2;
  border-radius: 4px;
  font-family: 'Ubuntu';
  font-size: 15px;
  font-weight: 400;
  transition: all 0.15s;
  cursor: pointer;
  color: #5b5fc2;
}

.activateButton:hover {
  background-color: #5b5fc2;
  color: black;
}

.delete {
  width: 22px;
  position: absolute;
  right: 15px;
  padding: 5px;
  transition: all 0.15s;
  border-radius: 5px;
  cursor: pointer;
}

.delete:hover {
  background-color: #c143435a;
}
