.result {
  display: flex;
  align-items: center;
  gap: 15px;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.15s;
  padding: 5px;
  border-radius: 4px;
  position: relative;
}

.result:hover {
  background-color: rgba(128, 128, 128, 0.368);
}

.resultUserContainer h1 {
  font-size: 20px;
  margin: 0;
  font-weight: 400;
}

.resultUserContainer h2 {
  font-size: 14px;
  margin: 0;
  font-family: 'Rubik';
  color: var(--foreground-color);
  font-weight: 400;
}

.profilePicture {
  width: 30px;
  height: 30px;
  border-radius: 15px;
}

.remove {
  width: 17px;
  aspect-ratio: 1/1;
  position: absolute;
  right: 10px;
  padding: 5px;
  border-radius: 50px;
  z-index: 3;
}

.remove:hover {
  background-color: rgb(88, 88, 88);
}
