.formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90vh;
}

.authForm {
  border: solid 1px var(--border-color);
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

.authForm h2 {
  color: var(--foreground-color);
  font-family: 'Montserrat';
  font-size: 25px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Roboto';
}

.authForm p {
  color: var(--foreground-color);
  font-family: 'Roboto';
  margin-top: 10px;
  text-align: center;
}

.fieldsContainer {
  margin-top: 10px;
}

.fieldsContainer input {
  background: none;
  border: solid 1px var(--border-color);
  width: 250px;
  height: 30px;
  padding-left: 7px;
  color: var(--foreground-color);
  outline: none;
  font-size: 15px;
  transition: all 0.15s;
}

.fieldsContainer div {
  margin-bottom: 10px;
}

.fieldsContainer input:focus {
  box-shadow: 0 0 10px rgb(70, 70, 70);
}

.fieldsContainer input::placeholder {
  color: var(--foreground-color);
  font-family: 'Roboto';
}
.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.links a {
  color: var(--foreground-color);
  font-family: 'Roboto';
  font-size: 14px;
  text-decoration: none;
}

.links a:hover {
  text-decoration: underline;
}

.fieldsContainer p {
  font-size: 12px;
  color: red;
  margin-top: 3px;
}
