.rowContainer {
  display: flex;
  position: relative;
  align-items: center;
  width: 100%;
  padding: 5px;
  border-radius: 5px;
}

.rowContainer:hover {
  background-color: rgba(128, 128, 128, 0.368);
}

.rowContainer h1 {
  font-size: 20px;
  margin: 0;
  font-weight: 400;
}

.rowContainer h2 {
  font-size: 14px;
  margin: 0;
  font-family: "Rubik";
  color: var(--foreground-color);
  font-weight: 400;
}

.addToList {
  position: absolute;
  right: 5px;
  border: none;
  background: none;
  padding: 5px;
  border-radius: 4px;
  z-index: 2;
  cursor: pointer;
  transition: all 0.15s;
  border: solid 1px var(--foreground-color);
  color: var(--foreground-color);
}

.addToList:hover {
  background-color: var(--foreground-color);
  color: black;
}

.removeFromList {
  position: absolute;
  right: 5px;
  border: none;
  background: none;
  padding: 5px;
  border-radius: 4px;
  z-index: 2;
  cursor: pointer;
  transition: all 0.15s;
  border: solid 1px rgb(248, 46, 46);
  color: rgb(248, 46, 46);
}

.removeFromList:hover {
  background-color: rgb(248, 46, 46);
  color: black;
}

.rowContainer img {
  width: 30px;
  height: 30px;
  aspect-ratio: 1/1;
  border-radius: 30px;
}
