.rowContainer {
  display: flex;
  position: relative;
  align-items: center;
  width: 100%;
}

.rowContainer:hover {
  background-color: rgba(128, 128, 128, 0.368);
}

.rowContainer h1 {
  font-size: 20px;
  margin: 0;
  font-weight: 400;
}

.rowContainer h2 {
  font-size: 14px;
  margin: 0;
  font-family: 'Rubik';
  color: var(--foreground-color);
  font-weight: 400;
}

.addToList {
  position: absolute;
  right: 5px;
}

.rowContainer img {
  width: 30px;
  height: 30px;
  aspect-ratio: 1/1;
  border-radius: 30px;
}
