.homeViewContainer {
  flex: 3;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin-bottom: 20px;
}

@media (max-width: 1000) {
  .homeViewContainer {
    height: 93vh;
  }
}

.variantSwitcher {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.variantSwitcher p {
  color: var(--foreground-color);
  cursor: pointer;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 0;
}

.indicator {
  width: 0%;
  height: 3px;
  background-color: var(--foreground-color);
  border-radius: 40px;
  animation-name: expand;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

@keyframes expand {
  to {
    width: 100%;
  }
}
