.createTopic {
  width: 350px;
  min-height: 150px;
  border-radius: 10px;
  box-shadow: 0 0 10px var(--foreground-color);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 45px;
  padding-bottom: 45px;
  margin-bottom: 30px;
}

.topic {
  width: 350px;
  min-height: 150px;
  border-radius: 10px;
  border: solid 1px var(--foreground-color);
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.userInfo {
  position: absolute;
  display: flex;
  gap: 10px;
  align-items: center;
  top: 7px;
  left: 7px;
}

.userInfo img {
  width: 35px;
  border-radius: 35px;
}

.profilePicture {
  width: 40px;
  aspect-ratio: 1/1;
  border-radius: 40px;
  object-fit: cover;
}

.userInfo p {
  margin: 0;
  color: var(--foreground-color);
  font-family: 'Montserrat';
}

.post {
  position: absolute;
  bottom: 7px;
  right: 7px;
  background: none;
  border: none;
  color: var(--foreground-color);
  font-family: 'Roboto';
  font-size: 15px;
  cursor: pointer;
  font-weight: 600;
}

.topicInput {
  border-bottom: solid 1px var(--foreground-color);
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 2px;
  position: relative;
}

.topicInput textarea {
  background: none;
  border: none;
  outline: none;
  color: var(--foreground-color);
  font-family: 'Roboto';
  font-size: 15px;
  resize: none;
  height: 18px;
  width: 85%;
  overflow: hidden;
}

.topicInput img {
  width: 21px;
  aspect-ratio: 1/1;
  cursor: pointer;
}

.emojiMenuBackground {
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.emojiMenu {
  position: absolute;
  top: 25px;
  z-index: 2;
}

.topicContent p {
  color: var(--foreground-color);
  font-family: 'Roboto';
  font-size: 15px;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
  padding-right: 7px;
}

.topicContent {
  margin-left: 10px;
  margin-top: 35px;
}

.topicActions {
  position: absolute;
  bottom: -10px;
  right: 5px;
  display: flex;
  gap: 8px;
}

.action img {
  width: 18px;
  cursor: pointer;
  aspect-ratio: 1/1;
}

.action p {
  font-size: 15px;
  color: white;
  font-family: 'Roboto';
}

.action {
  display: flex;
  gap: 3px;
  align-items: center;
}

.commentSection {
  height: 300px;
  position: absolute;
  bottom: -305px;
  width: 100%;
  box-shadow: 0px 1px 6px var(--foreground-color);
}

.inputContainer {
  position: absolute;
  bottom: 0;
  height: 31px;
  border-bottom: 2px solid var(--foreground-color);
  width: 90%;
  display: flex;
  align-items: center;
  border-top: 1px solid var(--border-color);
}

.emojiButton {
  height: 23px;
  aspect-ratio: 1/1;
  cursor: pointer;
}

.inputContainer textarea {
  background: none;
  border: none;
  outline: none;
  color: var(--foreground-color);
  font-size: 15px;
  margin-top: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  resize: none;
  height: 21px;
  width: 97%;
  margin-bottom: 5px;
}

.topicCommentContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.emojiContainer {
  position: absolute;
  bottom: -455px;
  left: -17px;
}

.emojiMenuBackground {
  width: 100vw;
  height: 100vh;
  position: fixed;
  inset: 0;
}

.sendButton {
  width: 15px;
  aspect-ratio: 1/1;
  background-color: var(--foreground-color);
  padding: 5px;
  border-radius: 30px;
  margin-left: 5px;
  cursor: pointer;
}

.commentsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-y: auto;
  height: 100%;
}

.commentContainer {
  width: 90%;
}
.commentUserInfo {
  display: flex;
  align-items: center;
  gap: 5px;
}

.commentUserInfo img {
  width: 30px;
  aspect-ratio: 1/1;
  border-radius: 30px;
}
.commentUserInfo p {
  font-family: 'Roboto';
  font-weight: 400;
  color: var(--foreground-color);
}
.commentContainer p {
  color: var(--foreground-color);
  font-family: 'Roboto';
}
